<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../staticFiles/codebazaar.css" type="text/css">
    <link rel="stylesheet" href="../staticFiles/phonemedia.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Bree+Serif&family=Butcherman&family=Carter+One&family=Creepster&family=Lilita+One&family=Merienda:wght@600&family=Monoton&family=Odibee+Sans&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&family=Rubik+Pixels&family=Russo+One&family=Share+Tech+Mono&family=Unbounded:wght@500&display=swap" rel="stylesheet">
    
    <script src="../staticFiles/codebazaarapp.js" type="text/javascript" async></script>

</head>

<body>
    
    <!-- =================
       creating header 
    ================= -->
    <header class="head" id="head">

        <!-- left-header -->
        <div class="lft-menu" id="lft-menu">
            <img src="../media/images/logo/logo HD.jpg" alt="logo" class="logo" id="logo">
            <span class="logo-txt" id="logo-txt">code bazaar</span>
        </div>

        <!-- page - navigation -->
        <nav class="menu" id="menu">
            <div class="mid-menu" id="mid-menu">
                <a href="#" class="menu-items" id="home">home</a>
                <a href="#" class="menu-items" id="about">about us</a>
                <a href="#" class="menu-items" id="contact">contact us</a>

                <!-- products drop-down -->
                <details open class="products-menu" id="products-menu">
                    <summary>products <i class="bi bi-caret-down-fill"></i></summary>
                    <ul class="products-list">
                        <a href="#" class="products-items" id="animations">web animations</a>
                        <a href="#" class="products-items" id="webapps">web applications</a>
                        <a href="#" class="products-items" id="projects">schools/colleges</a>
                        <a href="#" class="products-items" id="templates">page templates</a>
                        <a href="#" class="products-items" id="websites">complete sites</a>
                    </ul>
                </details>
            </div>
            
            <!-- right-header -->
            <div class="ryt-menu" id="ryt-menu">
                <a href="#" class="highlights" id="cheats">cheatSheets</a>
                <a href="#" class="highlights" id="login">Login</a>
            </div>
        </nav>
        
        <!-- lighting-modes -->
        <div class="modes" id="modes">
            <i class="bi bi-toggle-on lights-mode dark"></i>
            <i class="bi bi-toggle-off lights-mode light"></i>
        </div>
        
        <!-- menu-toggle button -->
        <div class="menu-toggle" id="menu-toggle">
            <i class="bi bi-list show-menu" id="show-menu"></i>
            <i class="bi bi-x hide-menu" id="hide-menu"></i>
        </div>

    </header>

</body>



</html>
