/* =======header CSS======= */


/* for large Tabs */
@media only screen and (max-width: 992px) {
    
    .menu {
        position: absolute;
        background: white;
        width: 100%;
        right: 0%;
        left: 0%;
        bottom: -110%;
        flex-flow: column;
        height: calc(100% - 55px);
        justify-content: center;
        animation: menu-slide 1s ease-out 1;
        animation-fill-mode: forwards;
        display: none;
    }

    @keyframes menu-slide {
        100% {
            bottom: 0%;
        }
    }

    /* middle-menubar */

    .menu .mid-menu {
        display: grid;
        place-items: center;
    }

    .menu .mid-menu a.menu-items {
        width: 100%;
        color: black;
        padding: 1rem;
        border-radius: 0%;
        border-bottom: 1px solid black;
    }

    .products-menu {
        color: #000f;
        padding: 1rem;
        border-bottom: 1px solid black;
    }

    /* right-menubar */

    .head .ryt-menu a.highlights {
        margin: 0%;
        margin: 1rem 0;
        font-size: 100%;
        text-align: center;
        display: block;
    }

    /* menubar-toggler */

    .menu-toggle {
        display: initial;
    }
}


/* for medium Tabs / iPads & small devices */
@media only screen and (max-width: 768px) {
    .head {
        padding: 0 1rem;
    }
}