/* =======header CSS======= */

/* Large desktops and laptops */
@media only screen and (max-width: 1200px) {

    /* middle-menubar */

    .menu .mid-menu a.menu-items {
        font-size: 100%;
    }

    .products-menu {
        font-size: 100%;
    }

    .products-menu a.products-items {
        font-size: 90%;
    }

    /* right-menubar */

    .head .ryt-menu a.highlights {
        font-size: 100%;
    }

    /* document light modes */

    .head .modes .lights-mode {
        font-size: 170%;

    }

    /* menubar-toggler */

    .menu-toggle {
        font-size: medium;
    }
}



/* =======footer CSS======= */

/* Large desktops and laptops */
@media only screen and (max-width: 1200px) {

    /* logo-social navigations */

    .bottom-nav .contact-nav .logo-social img.logo {
        width: 30px;
    }

    .bottom-nav .contact-nav .logo-social .social a {
        font-size: 100%;
    }

    /* mailing contacts navigations */

    .bottom-nav .contact-nav span.mail {
        font-size: 80%;
    }

    /* liscensing Docs. of site navigations */

    .bottom-nav .liscense-nav span {
        font-size: 70%;
        margin: 0% .5rem;
    }

    /* page-links */

    .bottom-nav .links-nav ul {
        font-size: 70%;
    }

    /* page-links heads */

    .bottom-nav .links-nav ul span {
        font-size: 250%;
    }
}