/* Entrance Logo */
div.entrylogo {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;

    background-image: url(../images/logo/logo_HD.png);
    background-repeat: no-repeat;
    background-position: center;

    z-index: 2;
    visibility: hidden;
    animation: logoanim 3s ease-in-out 500ms;
}