/* =======footer CSS======= */


/* large Tabs / iPads */
@media only screen and (max-width: 992px) {

    .bottom-nav {
        align-items: center;
        flex-flow: column-reverse;
    }

    .wrap {
        margin-bottom: 2rem;
    }

    /* logo-social navigations */

    .bottom-nav .contact-nav .logo-social img.logo {
        width: 60px;
    }

    .bottom-nav .contact-nav .logo-social .social a {
        font-size: 200%;
        padding: .5rem 1rem;
    }

    /* mail contact - navigations */

    .bottom-nav .contact-nav {
        padding-right: 0rem;
        order: 3;
    }

    .bottom-nav .contact-nav span.mail {
        font-size: 150%;
    }

    .bottom-nav .contact-nav a.mail {
        font-size: 280%;
    }

    /* direct page navigations */

    .bottom-nav .links-nav {
        padding-bottom: 0rem;
    }

    /* page-links */

    .bottom-nav .links-nav ul {
        padding: 0rem 1rem;
        font-size: 120%;
    }

    /* page-links heads */

    .bottom-nav .links-nav ul span {
        font-size: 350%;
    }

    /* liscensing Docs. of site navigations */

    .bottom-nav .liscense-nav {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bottom-nav .liscense-nav span {
        margin-bottom: 1rem;
        font-size: 130%;
    }
}




/* medium & small Tabs/ iPads / Phones */
@media only screen and (max-width: 576px) {

    /* logo-social navigations */

    .bottom-nav .contact-nav .logo-social img.logo {
        width: 35px;
    }

    .bottom-nav .contact-nav .logo-social .social a {
        font-size: 100%;
        padding: .2rem .5rem;
    }

    /* mailing contacts navigations */

    .bottom-nav .contact-nav span.mail {
        font-size: 80%;
    }

    .bottom-nav .contact-nav a.mail {
        font-size: 150%;
    }

    /* liscensing Docs. of site navigations */

    .bottom-nav .liscense-nav span {
        font-size: 70%;
    }

    /* page-links heads */
    .bottom-nav .links-nav ul span {
        font-size: 250%;
    }

    /* page-links set01 */
    .bottom-nav .links-nav ul {
        font-size: 70%;
    }
}