<!DOCTYPE html>
<html lang="en">

<head>

  <!-- title of document -->
  <title>codebazaar</title>

  <!-- comatibility of document -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- importing linkings -->
  <%- include("../partialFiles/linking") %>

</head>

<body>

  <!-- partializing header section  -->
  <%- include("../partialFiles/navbar") %>

  <!-- ==============================
        Home Page section begins
  ================================-->

  <%- include("../partialFiles/firstPanel") %>
  

  <!-- ==============================
         Home Page section ends
  ================================-->

  <!-- partializing footer section  -->
  <%- include("../partialFiles/footer") %>

</body>

</html>