 <!-- creating footer part navigations -->
 <footer class="bottom-nav" id="bottom-nav">

    <!-- social contacts -->
    <div class="contact-nav wrap" id="contact-nav">

        <!-- logo-social -->
        <div class="logo-social">
            <img src="/media_graphics/images/logo/logo HD.jpg" class="logo" id="logo">
            <span class="social" id="social">
                <a href="#" id="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" id="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="#" id="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" id="whatsapp"><i class="bi bi-whatsapp"></i></a>
            </span>
        </div>

        <!-- mailing contacts -->
        <div class="mail-contacts">
            <span class="mail" id="mail"> send your mail </span>
            <a href="mailto:spl.codebazaar@gmail.com" class="mail" id="mail">
                <i class="fa-solid fa-envelope-circle-check fa-shake"></i>
            </a>
        </div>
    </div>


    <!-- liscensing Docs. of site -->
    <div class="liscense-nav wrap" id="liscense-nav">
        <span class="liscense"><a href="#"><i class="bi bi-c-circle"></i> copyright</a></span>
        <span class="liscense"><a href="#"><i class="bi bi-r-circle"></i> registered</a></span>
        <span class="liscense"><a href="#">privacy policy</a></span>
        <span class="liscense"><a href="#">terms & conditions</a></span>
    </div>


    <!-- direct page navigations -->
    <div class="links-nav wrap" id="links-nav">

        <!-- page-links set01 -->
        <ul class="links" id="links">
            <span class="links">links</span>
            <li class="links link-1"><a href="#">home</a></li>
            <li class="links link-2"><a href="#">contact us</a></li>
            <li class="links link-3"><a href="#">about us</a></li>
            <li class="links link-4"><a href="#">products</a></li>
            <li class="links link-5"><a href="#">practice code</a></li>
            <li class="links link-6"><a href="#">onChat</a></li>
        </ul>

        <!-- page-links set02 -->
        <ul class="others" id="others">
            <span class="others">others</span>
            <li class="links link-1"><a href="#">login</a></li>
            <li class="links link-2"><a href="#">cart</a></li>
            <li class="links link-3"><a href="#">profile</a></li>
        </ul>
    </div>
    
</footer>