<!-- creating header Menubar -->
<header class="head" id="head">

    <!-- left-header -->
    <div class="lft-menu" id="lft-menu">
        <img src="/assets/images/logo/logo HD.jpg" alt="logo" class="logo" id="logo">
        <span class="logo-txt" id="logo-txt">code bazaar</span>
    </div>

    <!-- page-navigation -->
    <nav class="menu" id="menu">
        <div class="mid-menu" id="mid-menu">
            <a href="#" class="menu-items" id="home">home</a>
            <a href="#" class="menu-items" id="about">about us</a>
            <a href="#" class="menu-items" id="contact">contact us</a>

            <!-- products drop-down -->
            <details open class="products-menu" id="products-menu">
                <summary>products <i class="bi bi-caret-down-fill"></i></summary>
                <ul class="products-list">
                    <a href="#" class="products-items" id="animations">web animations</a>
                    <a href="#" class="products-items" id="webapps">web applications</a>
                    <a href="#" class="products-items" id="projects">schools/colleges</a>
                    <a href="#" class="products-items" id="templates">page templates</a>
                    <a href="#" class="products-items" id="websites">complete sites</a>
                </ul>
            </details>
        </div>

        <!-- right-header -->
        <div class="ryt-menu" id="ryt-menu">
            <a href="#" class="highlights" id="cheats">cheatSheets</a>
            <a href="#" class="highlights" id="login">Login</a>
        </div>
    </nav>

    <!-- lighting-modes -->
    <div class="modes" id="modes">
        <i class="bi bi-toggle-off lights-mode dark" id="dark"></i>
        <i class="bi bi-toggle-on lights-mode light" id="light"></i>
    </div>

    <!-- menu-toggle button -->
    <div class="menu-toggle" id="menu-toggle">
        <i class="bi bi-list show-menu" id="show-menu"></i>
        <i class="bi bi-x hide-menu" id="hide-menu"></i>
    </div>

</header>