
@keyframes logoanim {
    0% {
        background-size: 10%;
        visibility: visible;
        display: block;
        background-color: rgb(255, 0, 0);
    }

    25% {
        background-size: 25%;

        display: block;
    }

            95% {
                background-size: 60%;

                display: block;
            }

            100% {
                background-size: 60%;
                opacity:0;
                display: none;
            }

        }



div.entrylogo {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;

    background-image: url(./logo_HD.png);
    background-repeat: no-repeat;
    background-position: center;

    z-index: 2;
    visibility: hidden;
    animation: logoanim 3s ease-in-out 500ms;
    /* animation: logoanim 3s ease-in-out 500ms infinite; */

}
   
 